* {
  font-family: monospace;
  font-size: 16px;
}

body {
  background-image: url("media\background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* navigation bar */

header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* about the club */

section#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid black;
  background-color: #8073738a;
}

section#about h2 {
  margin-bottom: 20px;
  font-size: 36px;
  text-align: center;
}

section#about p {
  margin: 0 0 20px;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}

/* events */

section#events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5f7365;
  padding: 20px;
  border: 2px solid black;
}

section#events h2 {
  margin-bottom: 20px;
  font-size: 36px;
  text-align: center;
}

section#events p {
  margin: 0 0 20px;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}

section#events ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
}

section#events li {
  margin: 10px 0;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}

/* pictures gallery */

/* Gallery section */
@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
  /* Base font size */
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem 2rem;
}

.heading {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  padding: 3.5rem 0;
  color: #1a1a1a;
}

.heading span {
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  /* Compensate for excess margin on outer gallery flex items */
  margin: -1rem -1rem;
}

.gallery-item {
  /* Minimum width of 24rem and grow to fit available space */
  flex: 1 0 24rem;
  /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.gallery-image:hover {
  transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 2rem;
  }

  .gallery,
  .gallery-item {
    margin: 0;
  }
}

/* About Us section */

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  background-color: #66806d79;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px;
}

label {
  font-size: 1.2em;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #333;
}

textarea {
  height: 200px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #555;
}

/* footer */

footer {
  border: 3px solid black;
  padding: 5px;
  background-color: #80808081;
  text-align: center;
}
